@page "/"

<h1>Generating gear profiles</h1>

<p>
    This application generates different types of gear, as used
    in mechanical engineering applications, with a particular
    focus on the gears, sprockets and wheels used in clock making.
</p>
<p>
    To use the application, select one of the gear types from
    the list to the left of this text. Fill in the values
    requested for the gear being designed, then click the
    'Generate' button on the selected page.
</p>
<p>
    A plot of the selected gear will be drawn at the bottom of
    the page. You may have to scroll down to see the plot.
</p>
<p>
    To output an SVG file suitable for import into your CAD
    tool, once the plot has been rendered, select the 'Download SVG'
    button. A file will be downloaded to your machine.
</p>
<p>
    A particular focus of this application is that it uses
    both arcs and cubic splines as well as straight lines to
    render the gear profiles. This allows the SVG files to be
    very compact, while maintaining a high fidelity to the
    chosen gear shape.
</p>

