@page "/"

<h1>Generating gear profiles</h1>

<p>
    Welcome to the gear generator. To generate the
    vector outline for an involute gear, click
    <a href="/involutes">here</a>.
</p>
<p>
    To generate the vector outline for an escapement
    wheel, click <a href="/escapewheels">here</a>.
</p>
<p>
    To generate the vector outline for a ratchet, 
    click <a href="/ratchets">here</a>.
</p>

