@page "/"

<h1>Generating gear profiles</h1>

<p> Welcome to the gear generator. To generate the 
    vector outline for an involute gear, click 
    <a href="/involutes">here</a>.</p>
<p> To generate the vector outline for an escapement 
    wheel, click <a href="/escapewheels">here</a>.</p>
<p> To find tooth ratios that allow you to reuse the 
    same two spindles, click <a href="/matches">here</a>.</p>
<p> To calculate tables of contact ratios and minimum 
    tooth gaps for various numbers of teeth and pressure 
    angles, click <a href="/ratios">here</a>.</p>
