@page "/mycounter"

<h3>MyCounter</h3>
<p>The counter has a value of @counterVal</p>
<button class="btn btn-primary" @onclick=IncrementMyCounter>Click me to count up!</button>
@code {
    private int counterVal = 1;
    private void IncrementMyCounter()
        => counterVal += 1;

}
